// *********** Universals ***********

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body, input, .blue-button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: #3d464d;
    background: #fbfbfb;
}

input, textarea{
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-writing-mode: horizontal-tb;
    user-select: text;
    cursor: auto;
    text-rendering: auto;
    border: 1px solid #bdc4c9;
    border-radius: 5px;
    padding: 5px 10px;
    height: 36px;
    min-height: 34px;
    margin-top: 10px;
    vertical-align: middle; 
}

textarea{
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 2%;
    width: 800px;
    text-align: center;
    max-width: 90%;
    font-size: 14px;
    height: 50px;
    max-height: 50px;
    resize: none;
}

// Gets rid of placeholders on click

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }

li {
    list-style: none;
}
form{
    border-color: #d0d4d9;
}

footer{
    background: #f6f9fc;
}

h3{
    margin: 32px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 100;
    padding: 60px 0 20px;
}
.wrapper{
    width: 100%;
    max-width: device-width;
    margin: 0 auto;
}






// #module-img-1{
//     height: 175px;
//     width: 175px;
//     max-height: 100%;
// }

// *********** Supernav ***********

.siteHeader {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;

  padding: 0 15px;
  height: 80px;
  background: white;
  box-shadow: 0 1px 4px 0 rgba(99,114,130,0.15);
  position: fixed;
  width: 100%;
}

  .siteHeader__section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
    //flex: 1;
  }

    .siteHeader__item {
      padding: 5px 15px;
      font-size: 12px;
    }

    .siteHeader__item + .siteHeader__item {
      margin-left: 5px;
    }

    .siteHeader__item.is-site-header-item-selected {
      color: #22262e;
      border-radius: 4px;
    }

    .siteHeaderLogo {
      font-size: 20px;
      line-height: 0;
      color: #22262e;
    }

    .siteHeaderButton {
      color: #22262e;
    }

    .siteHeader__sub {
      background: #FCFDFD;
    }

    .siteHeader__middleSection {
        flex: 0 auto;
        -webkit-box-pack: center;
    }

    #logo-img-main {
        height: 46px;
        weight: 114px;
    }



/* Dropdown Button */
.dropbtn {
    // background-color: #fbfbfb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content 
container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown arrow */
i {
    border: solid #eeeeee;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }




// *********** Main-Containter ***********

.main-container{
    min-height: calc(70vh - 51px);
    overflow: hidden;
    text-align: center;
}

#main-hero-img {

    margin-top: 120px;
    width: 600px;
    height: 300px;
}

.text-size-5{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 100;
}

.text-size-3{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    color: darkgray;
}

.citation-bar input{
    margin-top: 2%;
    width: 800px;
    max-width: 90%;
    text-align: center;
}

// *********** Features-Container ***********

.content-row{
    width: 100%;
    padding: 0 2%;
}

.content-row-module{
    display: flex;
    height: 378px;
    margin: 2% 5% 2% 5%;
    // font size & color
    flex-flow: row wrap;
    justify-content: space-around; // Horizontal justify
    align-items: center;  // Vertical center

}

.content-row-wrapper{
    flex: 1;
    max-width: 358px;
    min-width: 358px;
    justify-content: space-between; // Horizontal justify
    align-items: center;  // Vertical center
    text-align: center;
}

.content-row-txt{
    text-align: left;
}

.content-row-img{
    text-align: center;
}

.text-input-full{
    width: 100%;
}

.text-input-half{
    width: 176px;
}

.blue-button{
    font-weight: 600;
    background: #007ee5;
    text-align: center;
    padding: 7px 16px;
    line-height: 24px;
    border: 1px solid #007ee5;
    width: 358px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    font-size: 14px;
    margin-top: 5px;
}

.blue-button:hover{
    background: #2895F1;
    font-weight: 700;
}

.main-register-form-tos{
    font-size: 11px;
    text-align: left;
    margin-top: 8px;
}

.main-register-form-tos input{
    font-size: 11px;
    text-align: left;
    margin: 0px 8px 2px 0px;
}

.final-row{
    justify-content: space-between; // Horizontal justify
    align-items: center;  // Vertical center
    text-align: center;
    display: flex;
    flex-flow: column;
    background: white;
    max-height: 602px;
    min-height: 602px;
}

.form-container{
    flex: 1;
}

.final-row-register-form{
    max-width: 358px;
    min-width: 358px;
    justify-content: space-between; // Horizontal justify
    align-items: center;  // Vertical center
    text-align: center;
}

// *********** Footer ***********

.footer-cols{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
    flex-basis: 30%;
    flex-wrap: wrap;
}

.footer-cols h3{
    padding: 2%;
    margin-bottom: 5%;
}

.foot-list{
    flex-flow: column;
    flex: 1;
}




/* The Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 16px 20px;
    background-color: darkgrey;
    color: white;
}

.modal-body {
    padding: 20px 16px;
    height: 300px;

}

.modal-footer {
    padding: 2px 16px;
    background-color: darkgrey;
    color: white;
}

.modalBtn {
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
}